:root{
    --custom-button-color: #76b900;
}

html{
    margin: 0px;
}
body{
    margin: 0px;
}

#header-text{
    margin-left: 9px;
}

#header{
    display: flex;
    flex-direction: row;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* I'm using space-between to push the items to either side.*/
}
#nav-links{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    font-size: 20px;
}
#nav-links li{
    margin-right: 6px;
    margin-left: 6px;
}

#banner{
    background-color: black;
    color: white;
    height: 700px;
}

.banner-row{
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.banner-row button{
    width: 150px;
    background-color: var(--custom-button-color);
    border: 0px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 400;
}

.banner-column{
    display: flex;
    flex: 1;
}
