:root{
    --custom-button-color: #76b900;
}

html{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin: 0px;
}
body{
    margin: 0px;
}

#header-text{
    margin-left: 9px;
}
#primary-logo{
    width: 110px;
}
.icon{
    width: 17px;
    padding: 0px 3px 0px;
}

header{
   
}

#header{
    display: flex;
    flex-direction: row;
    padding: 5px 130px 5px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* I'm using space-between to push the items to either side.*/
    width: 100%;
}

#primary-nav-links{
    display: flex;
    gap:10px;
    margin: 0px 22px 0px;
    padding: 0px;
}

#secondary-nav-links{
    display: flex;
    gap:10px;
    margin: 0px 22px 0px;
    padding: 0px;
}

#primary-nav-links li{
    font-weight: 400;
    line-height: 22px;
    color: #666;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    align-content: center;
}
#secondary-nav-links li{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    list-style-type: none;
    align-content: center;
}

#banner{
    background-color: black;
    color: white;
    height: 700px;
    background-image: url('./images/jensen.jpg');
    background-repeat: no-repeat;
}

.banner-row{
    display: flex;
    flex-direction: column;
    padding: 140px;
    width: 100%;
}

.banner-row button{
    background-color: var(--custom-button-color);
    border: none;
    color: #000;
    cursor: pointer;
    padding: 12px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    width: 140px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.banner-column{
    display: flex;
    flex: 1;
}

#card-row{
    margin-top: 220px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card{
    width: 140px;
}

.card-category{
    font-size: 15px;
    color: #666;
}

.card-title{
    font-size: 14px;
    color: #666;
}

.bar-container{
    height: 20px;
    width: 100%;
    display: flex;
}
.bar{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 5px;
}

#header-category{
    font-size: 20px;
    margin: 0px;
}

#header-title{
    margin: 0px;
    font-size: 36px;    
}

#header-description{
    font-size: 20px;
}

#recommended{
    background-color: #1a1a1a;
    height: 380px;
    margin: 0px;
    padding: 60px 140px 60px
}

.recommended-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
}

.recommended-card{ 
    width: 319px;
    background-color: white;
}

.recommended-card-text{
    padding: 13px;
}

.recommended-text-bold{
    font-weight: 600;
    margin: 7px 0px 13px;
}


.recommended-text{
    font-size: 10px;
    color: black;
    padding: 2px;
    margin: 0px;
}

.recommended-text-row{
    margin-top: 8px;
}

.recommended-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Makes sure all elements in row vertically aligned */
    width: 100%;
    margin-bottom: 15px;
}

.recommended-header-row-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommended-header-row-text h3 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.recommended-header-row-icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.recommended-arrows {
    display: flex;
    gap: 5px; 
}

.arrow-button {
    background-color: #76b900;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gtc{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    padding: 40px 140px 40px
}

.gtc-column{
    display: flex;
    margin-left: 60px;
    flex-direction: column;
}

.gtc-column img{
 width: 90px;
}

.gtc-column p{
    font-size: 20px;
}

h4{
    font-size: 40px;
    margin: 0px;
    padding: 0px;
}

#artificial-intelligence{

}

.artificial-intelligence-column{
    
}

.artificial-intelligence-card{
    width: 340px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* 
    0px - horizontal offset, no shadow shift to left or right
    4px - vertical offset, shadow shifted 4px downward
    10px - blur radius, shadow is 10px blurred
    rgba(0, 0, 0, 0.2) - shadow color, black with 20% opacity
    */
    overflow: hidden;
}

.artificial-intelligence-card img{
    width: 340px;
}

.artificial-intelligence-card-text{
    padding: 13px;
}

.artificial-intelligence-text{
    font-size: 20px;
    color: black;
    padding: 2px;
    margin: 0px;
}

.artificial-intelligence-text-bold{
    font-size: 17px;
    font-weight: 700;
    color: black;
    padding: 2px;
    margin: 0px;
}
