:root{
    --custom-button-color: #76b900;
}

html{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}
h1{
    margin: 0px;
}

#header-text{
    margin-left: 9px;
}
#primary-logo{
    width: 110px;
}
.icon{
    width: 17px;
    padding: 0px 3px 0px;
}

body{
    margin: 0px;
}

#header{
    display: flex;
    flex-direction: row;
    padding: 5px 10%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* I'm using space-between to push the items to either side.*/
    width: 100%;
}

#primary-nav-links{
    display: flex;
    gap:10px;
    margin: 0px 22px 0px;
    padding: 0px;
}

#secondary-nav-links{
    display: flex;
    gap:10px;
    margin: 0px 22px 0px;
    padding: 0px;
}

#primary-nav-links li{
    font-weight: 400;
    line-height: 22px;
    color: #666;
    text-decoration: none;
    list-style-type: none;
    font-size: 16px;
    align-content: center;
}
#secondary-nav-links li{
    font-weight: 400;
    font-size: 14px;
    color: #666;
    text-decoration: none;
    list-style-type: none;
    align-content: center;
}

#banner{
    background-color: black;
    color: white;
    height: 700px;
    width: 100%;
    background-image: url('./images/jensen.jpg');
    background-repeat: no-repeat;
}

.banner-row{
    display: flex;
    flex-direction: column;
    padding: 140px;
}

.banner-row button{
    background-color: var(--custom-button-color);
    border: none;
    color: #000;
    cursor: pointer;
    padding: 12px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    width: 10%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    text-overflow: none;
}

.banner-column{
    display: flex;
    flex: 1;
}

#card-container{
    display: flex;
    gap: 15px;
    overflow: hidden; /* Hides overflowing cards */
    scroll-behavior: smooth;
    width: 100%;  /* Limit visible cards to the container width */
}

.recommended-card{
    flex-shrink: 0; /* Prevents cards from shrinking */
    width: 25%;
}

#card-row{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card{
    width: 140px;
    flex-grow: 1;
}

.card-category{
    font-size: 15px;
    color: #666;
}

.card-title{
    font-size: 14px;
    color: #666;
}

.bar-container{
    height: 20px;
    width: 100%;
    display: flex;
}
.bar{
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 5px;
}

#header-category{
    font-size: 20px;
    margin: 0px;
    width: 50%;
}

#header-title{
    margin: 0px;
    font-size: 36px;    
    width: 50%;
}

#header-description{
    font-size: 20px;
    width: 50%;
}

#recommended{
    background-color: #1a1a1a;
    height: 380px;
    margin: 0px;
    padding: 60px 140px 0px;
    margin-bottom: 70px;
}

.recommended-row{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 10px;
}

.recommended-card{ 
    width: 25%;
    background-color: white;
}

.recommended-card-text{
    padding: 13px;
}

.recommended-card img{
    width: 100%;
}

.recommended-text-bold{
    font-weight: 600;
    margin: 7px 0px 13px;
}


.recommended-text{
    font-size: 10px;
    color: black;
    padding: 2px;
    margin: 0px;
}

.recommended-text-row{
    margin-top: 8px;
}

.recommended-header-row{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Makes sure all elements in row vertically aligned */
    width: 100%;
    margin-bottom: 15px;
}

.recommended-header-row-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.recommended-header-row-text h3 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

.recommended-header-row-icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.recommended-arrows {
    display: flex;
    gap: 5px; 
}

.arrow-button {
    background-color: #76b900;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gtc{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    padding: 40px 140px 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.gtc-column{
    display: flex;
    margin-left: 60px;
    flex-direction: column;
}

.gtc-column img{
 width: 90px;
}

.gtc-column p{
    font-size: 20px;
}

#artificial-intelligence{
 width: 100%;
 margin-bottom: 40px;
}

.artificial-card{
    flex-shrink: 0; /* Prevents cards from shrinking */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 30%;
}

.artificial-card img{
    width: 100%;
}


#artifical-card-container{
    
}

#artificial-intelligence h3{
    font-size: 37px;
    font-weight: 700;
    margin: 0px;
    margin-bottom: 20px;
}

.artificial-intelligence-details{
    flex: 2;
}

.artificial-intelligence-cards{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex: 3;
}

.artificial-intelligence-header-row{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}

.artificial-intelligence-row{
    display: flex;
    flex-direction: row;
    padding: 0px 40px;
    gap: 20px;
}

.artificial-intelligence-card{
    width: 400px;
    height: 450px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* 
    0px - horizontal offset, no shadow shift to left or right
    4px - vertical offset, shadow shifted 4px downward
    10px - blur radius, shadow is 10px blurred
    rgba(0, 0, 0, 0.2) - shadow color, black with 20% opacity
    */
    overflow: hidden;
    margin: 20px;
}

.artificial-intelligence-card img{
    width: 400px;
}

.artificial-intelligence-card-text{
    padding: 13px;
}

.artificial-intelligence-text{
    font-size: 20px;
    color: black;
    padding: 2px;
    margin: 0px;
}

.artificial-intelligence-text-bold{
    font-size: 17px;
    font-weight: 700;
    color: black;
    padding: 2px;
    margin: 0px;
}

.artificial-intelligence-arrows {
    display: flex;
    gap: 5px; 
}


.quick-links p{
    font-size: 22px;
    width: 500px;
    word-spacing: 3px;
}

.quick-links li{
    text-decoration: none;
    list-style: none;
}

.ai-bar-container{
    height: 5px;
    display: flex;
    background-color: grey;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 13px;
}
.ai-bar{
    background-color: #76b900;
    width: 30%;
    height: 5px;
}

#footer-banner{
    background-color: #000;
    display: flex;
    margin-top: 80px;
    padding: 40px;
    flex-direction: column;
}

.footer-banner-column{
    flex: 1;
    background-color: #000;
    height: 400px;
    flex-direction: column;
    padding: 0px 40px;
}

.footer-banner-column h4{
    color: white;
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}

.footer-banner-column ul{
    color: var(--custom-button-color);
    font-size: 16px;
    padding: 0px;
}

.footer-banner-column li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

.footer-banner-row{
    display: flex;
    flex-direction: row;
}

.footer-banner-row-cta{
    display: flex;
    flex-direction: row;
}

.footer-banner-row-cta > * {
    padding: 0px 10px;
}

.footer-banner-row-cta img {
    width: 60px;
}

.footer-banner-row-cta button {
    background-color: var(--custom-button-color);
    width: 105px;
    font-weight: 900;
    margin-left: 20px;
    border: none;
}

.footer-banner-row-cta p{
    color: white;
}

footer{
    padding: 38px;
}

footer img{
    width: 120px;
}

footer .copyright{
    font-size: 12px;
}